.form-text-field {
    -fx-prompt-text-fill: #484844;
    -fx-background-color: #cedecf;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 16.0;
    -fx-padding: 0 0 0 16.0; /* Top, Right, Bottom, Left */
}

.long-buttons {
    -fx-border-radius: 27;
    -fx-background-radius: 27;
    -fx-font-family: "Montserrat Bold";
    -fx-font-size: 16.0;
}

.account-chips {
    -fx-pref-height: 56;
    -fx-pref-rows: 56;
    -fx-background-color: #e7edde;
    -fx-border-color: #242422;
    -fx-border-radius: 28;
    -fx-background-radius: 28;
}